.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #14f2e3c2 inset;
  display: flex;
  justify-content: center;
  z-index: 2; /* set z-index to 2 */
}

.bounding-box .face-text {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #14f2e3c2;
  color: white;
  padding: 5px;
  font-size: 10px;
}